/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    macros {
        menor_que: menor_a {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_0>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_0>;

            label = "MENOR_A";
        };

        mayor_que: mayor_que {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_2>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_2>;

            label = "MAYOR_QUE";
        };

        abre_corchetes: abre_corchetes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_1>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_1>;

            label = "ABRE_CORCHETES";
        };

        cierra_corchetes: cierra_corchetes {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_3>;

            label = "CIERRA_CORCHETES";
        };

        abre_llaves: abre_llaves {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_3>;

            label = "ABRE_LLAVES";
        };

        cierra_llaves: cierra_llaves {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_5>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_5>;

            label = "CIERRA_LLAVES";
        };

        abre_parentesis: abre_parentesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_0>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_0>;

            label = "ABRE_PARENTESIS";
        };

        cierra_parentesis: cierra_parentesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_1>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_1>;

            label = "CIERRA_PARENTESIS";
        };

        abre_signo_interrogacion: abre_signo_interrogacion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_6 &kp KP_NUMBER_8>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_6 &kp KP_NUMBER_8>;

            label = "ABRE_SIGNO_INTERROGACION";
        };

        cierra_signo_interrogacion: cierra_signo_interrogacion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_3>;

            label = "CIERRA_SIGNO_INTERROGACION";
        };

        comillas_dobles: comillas_dobles {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_4>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_4>;

            label = "COMILLAS_DOBLES";
        };

        comilla_simple: comilla_simple {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_9>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_9>;

            label = "COMILLA_SIMPLE";
        };

        comilla_invertida: comilla_invertida {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_6>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_6>;

            label = "COMILLA_INVERTIDA";
        };

        punto_y_coma: punto_y_coma {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_5 &kp KP_NUMBER_9>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_5 &kp KP_NUMBER_9>;

            label = "PUNTO_Y_COMA";
        };

        dos_puntos: dos_puntos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_5 &kp KP_NUMBER_8>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_5 &kp KP_NUMBER_8>;

            label = "DOS_PUNTOS";
        };

        signo_admiracion: signo_admiracion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_3>;

            label = "SIGNO_ADMIRACION";
        };

        signo_mas: signo_mas {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_3>;

            label = "SIGNO_MAS";
        };

        asterisco: asterisco {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_2>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_2>;

            label = "ASTERISCO";
        };

        signo_menos: signo_menos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_5>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_5>;

            label = "SIGNO_MENOS";
        };

        igual_que: igual_que {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_1>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_1>;

            label = "IGUAL_QUE";
        };

        signo_pesos: signo_pesos {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_6>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_6>;

            label = "SIGNO_PESOS";
        };

        numeral: numeral {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_5>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_5>;

            label = "NUMERAL";
        };

        barra_vertical: barra_vertical {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_4>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_4>;

            label = "BARRA_VERTICAL";
        };

        guion_bajo: guion_bajo {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_5>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_5>;

            label = "GUION_BAJO";
        };

        arroba: arroba {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_4>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_6 &kp KP_NUMBER_4>;

            label = "ARROBA";
        };

        ampersand: ampersand {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_8>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_8>;

            label = "AMPERSAND";
        };

        pico: pico {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_4>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_4>;

            label = "PICO";
        };

        tilde: tilde {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_6>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_2 &kp KP_NUMBER_6>;

            label = "TILDE";
        };

        por_ciento: por_ciento {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_7>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_3 &kp KP_NUMBER_7>;

            label = "POR_CIENTO";
        };

        barra_invertida: barra_invertida {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_2>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_9 &kp KP_NUMBER_2>;

            label = "BARRA_INVERTIDA";
        };

        barra_inclinada: barra_inclinada {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_7>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_4 &kp KP_NUMBER_7>;

            label = "BARRA_INCLINADA";
        };

        enie: enie {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_6 &kp KP_NUMBER_4>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_6 &kp KP_NUMBER_4>;

            label = "ENIE";
        };

        abre_signo_exclamacion: abre_signo_exclamacion {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_3>,
                <&macro_release &kp LEFT_ALT &kp KP_NUMBER_1 &kp KP_NUMBER_7 &kp KP_NUMBER_3>;

            label = "ABRE_SIGNO_EXCLAMACION";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        principal {
            bindings = <
&kp TAB       &kp Q             &kp W  &kp E                  &kp R          &kp T          &kp Y        &kp U                   &kp I         &kp O    &kp P                     &kp BACKSPACE
&kp CAPSLOCK  &kp A             &kp S  &kp D                  &lt 4 F        &kp G          &kp H        &lt 5 J                 &kp K         &kp L    &kp SEMI                  &kp ENTER
&kp LSHFT     &mt LEFT_SHIFT Z  &kp X  &kp C                  &kp V          &kp B          &kp N        &kp M                   &kp COMMA     &kp DOT  &mt RIGHT_SHIFT LA(FSLH)  &kp RSHFT
                                       &mt LGUI LEFT_BRACKET  &mt LCTRL TAB  &lt 1 SPACE    &lt 2 ENTER  &mt LEFT_ALT BACKSPACE  &lt 3 DELETE
            >;
        };

        flechas_seleccion {
            bindings = <
&trans  &trans        &kp LS(LC(LEFT))  &kp LS(UP_ARROW)  &kp LS(LC(RIGHT))  &trans         &trans    &kp LC(LEFT_ARROW)  &kp UP_ARROW  &kp LC(RIGHT)  &trans   &trans
&trans  &kp LS(HOME)  &kp LS(LEFT)      &kp LS(DOWN)      &kp LS(RIGHT)      &kp LS(END)    &kp HOME  &kp LEFT            &kp DOWN      &kp RIGHT      &kp END  &trans
&trans  &trans        &trans            &trans            &trans             &trans         &trans    &trans              &trans        &trans         &trans   &trans
                                        &trans            &trans             &trans         &trans    &trans              &trans
            >;
        };

        numeros {
            bindings = <
&none   &none  &kp N7        &kp N8        &kp N9        &none           &none            &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &none  &none
&none   &none  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp N0          &kp KP_NUMBER_0  &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &none  &none
&trans  &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none           &none            &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &none  &trans
                             &none         &none         &kp LEFT_ALT    &none            &none            &none
            >;
        };

        teclas_funcion_audio_capturas {
            bindings = <
&kp F1             &kp F2               &kp F3                       &kp F4         &kp F5      &kp F6    &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&kp C_VOLUME_UP    &kp LG(PRINTSCREEN)  &kp LC(LA(LG(PRINTSCREEN)))  &kp LG(LS(S))  &kp ESCAPE  &trans    &trans  &trans  &trans  &trans   &trans   &trans
&kp C_VOLUME_DOWN  &kp K_MUTE           &trans                       &trans         &trans      &trans    &trans  &trans  &trans  &trans   &trans   &trans
                                                                     &trans         &trans      &trans    &trans  &trans  &trans
            >;
        };

        signos_programacion_derecha {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &signo_admiracion  &signo_menos  &guion_bajo      &arroba      &tilde            &por_ciento
&trans  &trans  &trans  &trans  &trans  &trans    &signo_mas         &igual_que    &barra_vertical  &ampersand   &enie             &none
&trans  &trans  &trans  &trans  &trans  &trans    &asterisco         &numeral      &punto_y_coma    &dos_puntos  &barra_inclinada  &barra_invertida
                        &trans  &trans  &trans    &trans             &trans        &trans
            >;
        };

        signos_programacion_izquierda {
            bindings = <
&cierra_signo_interrogacion  &mayor_que  &cierra_corchetes  &cierra_llaves    &cierra_parentesis  &none                 &trans  &trans  &trans  &trans  &trans  &trans
&abre_signo_interrogacion    &menor_que  &abre_corchetes    &abre_llaves      &abre_parentesis    &none                 &trans  &trans  &trans  &trans  &trans  &trans
&abre_signo_exclamacion      &pico       &signo_pesos       &comillas_dobles  &comilla_simple     &comilla_invertida    &trans  &trans  &trans  &trans  &trans  &trans
                                                            &trans            &trans              &trans                &trans  &trans  &trans
            >;
        };
    };
};
